@model MVCScratch.Models.HeroModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNewHero</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <label>Hero Name: </label>@Html.TextBox("HeroName")
        <label>Hero Type: </label>@Html.TextBoxFor(x => x.HeroType)
        <input type="submit" value="Add"/>
    }
    <div> 
    </div>
</body>
</html>
